In [1]:
import pandas as pd

In [2]:
def cleanData(df):
    df = df.fillna(0)
    df = df.iloc[1:]
    return df

In [4]:
def extract_year(column_name):
    return int(column_name.split('-')[0])
def filterYear(df):
    date_columns = df.columns[5:]
    df[date_columns] = df[date_columns].apply(pd.to_numeric, errors='coerce')

    # Function to extract year from column name
    

    # Create a dictionary to hold aggregated values for each year
    yearly_data = {}

    # Iterate through each column
    for column in date_columns:
        year = extract_year(column)
        if year not in yearly_data:
            yearly_data[year] = []
            yearly_data[year].append(column)

    # Create new columns for each year and populate them with aggregated values
    for year, columns in yearly_data.items():
        df[str(year)] = df[columns].mean(axis=1)

    # Drop the original date columns
    df = df.drop(columns=date_columns)
    
    df = df[['RegionID',"SizeRank","RegionName","RegionType","StateName","2021","2022","2023","2024"]]
    return df

In [5]:
def combineYear(df):
    df_melted = pd.melt(df, id_vars=['RegionID', 'SizeRank', 'RegionName', 'RegionType',"StateName"], 
                    var_name='Year', value_name='rename')

    # Convert the 'Year' column to numeric
    df_melted['Year'] = pd.to_numeric(df_melted['Year'])

    # Sort the DataFrame by 'RegionName' and 'Year' for clarity
    df_melted = df_melted.sort_values(by=['RegionName', 'Year'])

    # Display the reshaped DataFrame
    print(df_melted.head())
    return df_melted

In [6]:
#percentabove 
df = pd.read_csv("percenthomesoldabove.csv")
df_above = cleanData(df)
df_above = filterYear(df_above)
df_above = combineYear(df_above)
df_above = df_above.rename(columns={"rename":"percentAbove"})
#percentbelow
df=pd.read_csv("percenthomesoldbelow.csv")
df_below = cleanData(df)
df_below = filterYear(df_below)
df_below = combineYear(df_below)
df_below = df_below.rename(columns ={"rename":"percentBelow"})

      RegionID  SizeRank    RegionName RegionType StateName  Year    rename
414     394298       473  Aberdeen, WA        msa        WA  2021  0.387843
965     394298       473  Aberdeen, WA        msa        WA  2022  0.383695
1516    394298       473  Aberdeen, WA        msa        WA  2023  0.129800
2067    394298       473  Aberdeen, WA        msa        WA  2024  0.165931
239     394299       251   Abilene, TX        msa        TX  2021  0.148109
      RegionID  SizeRank    RegionName RegionType StateName  Year    rename
414     394298       473  Aberdeen, WA        msa        WA  2021  0.418413
965     394298       473  Aberdeen, WA        msa        WA  2022  0.444280
1516    394298       473  Aberdeen, WA        msa        WA  2023  0.643283
2067    394298       473  Aberdeen, WA        msa        WA  2024  0.626708
239     394299       251   Abilene, TX        msa        TX  2021  0.534341

In [14]:
df_percent = pd.merge(df_above,df_below, on =['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'Year'],how = "outer")
df_percent=df_percent.drop_duplicates()
df_percent

,RegionID,SizeRank,RegionName,RegionType,StateName,Year,percentAbove,percentBelow
0,394298,473,"Aberdeen, WA",msa,WA,2021,0.387843,0.418413
1,394298,473,"Aberdeen, WA",msa,WA,2022,0.383695,0.444280
2,394298,473,"Aberdeen, WA",msa,WA,2023,0.129800,0.643283
3,394298,473,"Aberdeen, WA",msa,WA,2024,0.165931,0.626708
4,394299,251,"Abilene, TX",msa,TX,2021,0.148109,0.534341
...,...,...,...,...,...,...,...,...
2199,845165,732,"Minden, LA",msa,LA,2024,0.000000,0.000000
2200,845167,296,"Ottawa, IL",msa,IL,2021,0.122361,0.745278
2201,845167,296,"Ottawa, IL",msa,IL,2022,0.196805,0.622193
2202,845167,296,"Ottawa, IL",msa,IL,2023,0.206385,0.673131
2203,845167,296,"Ottawa, IL",msa,IL,2024,0.235883,0.589982

In [10]:
#mean sale price 
df = pd.read_csv("meansalepricemonthly.csv")
df_meanSale = cleanData(df)
df_meanSale = filterYear(df_meanSale)
df_meanSale = combineYear(df_meanSale)
df_meanSale = df_meanSale.rename(columns={"rename":"meanSaleprice"})
df_meanSale

      RegionID  SizeRank    RegionName RegionType StateName  Year    rename
446     394298       473  Aberdeen, WA        msa        WA  2021  251519.0
1109    394298       473  Aberdeen, WA        msa        WA  2022  320771.0
1772    394298       473  Aberdeen, WA        msa        WA  2023  322667.0
2435    394298       473  Aberdeen, WA        msa        WA  2024  340102.0
242     394299       251   Abilene, TX        msa        TX  2021  208996.0

,RegionID,SizeRank,RegionName,RegionType,StateName,Year,meanSaleprice
446,394298,473,"Aberdeen, WA",msa,WA,2021,251519.0
1109,394298,473,"Aberdeen, WA",msa,WA,2022,320771.0
1772,394298,473,"Aberdeen, WA",msa,WA,2023,322667.0
2435,394298,473,"Aberdeen, WA",msa,WA,2024,340102.0
242,394299,251,"Abilene, TX",msa,TX,2021,208996.0
...,...,...,...,...,...,...,...
2206,395247,225,"Yuma, AZ",msa,AZ,2024,306728.0
404,395248,426,"Zanesville, OH",msa,OH,2021,167895.0
1067,395248,426,"Zanesville, OH",msa,OH,2022,166231.0
1730,395248,426,"Zanesville, OH",msa,OH,2023,174095.0
2393,395248,426,"Zanesville, OH",msa,OH,2024,206630.0

In [15]:
df_pm = pd.merge(df_percent,df_meanSale,on =['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'Year'],how = "outer" )
df_pm

,RegionID,SizeRank,RegionName,RegionType,StateName,Year,percentAbove,percentBelow,meanSaleprice
0,394298,473,"Aberdeen, WA",msa,WA,2021,0.387843,0.418413,251519.0
1,394298,473,"Aberdeen, WA",msa,WA,2022,0.383695,0.444280,320771.0
2,394298,473,"Aberdeen, WA",msa,WA,2023,0.129800,0.643283,322667.0
3,394298,473,"Aberdeen, WA",msa,WA,2024,0.165931,0.626708,340102.0
4,394299,251,"Abilene, TX",msa,TX,2021,0.148109,0.534341,208996.0
...,...,...,...,...,...,...,...,...,...
2663,845165,732,"Minden, LA",msa,LA,2024,0.000000,0.000000,NaN
2664,845167,296,"Ottawa, IL",msa,IL,2021,0.122361,0.745278,152242.0
2665,845167,296,"Ottawa, IL",msa,IL,2022,0.196805,0.622193,165383.0
2666,845167,296,"Ottawa, IL",msa,IL,2023,0.206385,0.673131,160516.0
2667,845167,296,"Ottawa, IL",msa,IL,2024,0.235883,0.589982,196291.0

In [17]:
# sale count
df = pd.read_csv("salecountnowcast.csv")
df_salecount = cleanData(df)
df_salecount = filterYear(df_salecount)
df_salecount = combineYear(df_salecount)
df_salecount = df_salecount.rename(columns ={"rename":"saleCountnowcast"})
# saletolistratio
df = pd.read_csv("saletolistratiomonthlymean.csv")
df_saletolist = cleanData(df)
df_saletolist = filterYear(df_saletolist)
df_saletolist = combineYear(df_saletolist)
df_saletolist = df_saletolist.rename(columns = {"rename":"saletolist"})
df_sale = pd.merge(df_saletolist,df_salecount,on =['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'Year'],how = "inner")
df_sale

     RegionID  SizeRank  RegionName RegionType StateName  Year  rename
80     394304        83   Akron, OH        msa        OH  2021   646.0
173    394304        83   Akron, OH        msa        OH  2022   740.0
266    394304        83   Akron, OH        msa        OH  2023   514.0
359    394304        83   Akron, OH        msa        OH  2024   516.0
62     394308        64  Albany, NY        msa        NY  2021   602.0
      RegionID  SizeRank    RegionName RegionType StateName  Year    rename
414     394298       473  Aberdeen, WA        msa        WA  2021  0.994386
965     394298       473  Aberdeen, WA        msa        WA  2022  0.990810
1516    394298       473  Aberdeen, WA        msa        WA  2023  0.956797
2067    394298       473  Aberdeen, WA        msa        WA  2024  0.956671
239     394299       251   Abilene, TX        msa        TX  2021  0.974338

C:\Users\Calvin Chu\AppData\Local\Temp\ipykernel_18892\3647095545.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[str(year)] = df[columns].mean(axis=1)
C:\Users\Calvin Chu\AppData\Local\Temp\ipykernel_18892\3647095545.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[str(year)] = df[columns].mean(axis=1)
C:\Users\Calvin Chu\AppData\Local\Temp\ipykernel_18892\3647095545.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[str(year)] = df[columns].mean(axis=1)
C:\Users\Calvin Chu\AppData\Local\Temp\ipykernel_18892\3647095545.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[str(year)] = df[columns].mean(axis=1)
C:\Users\Calvin Chu\AppData\Local\Temp\ipykernel_18892\3647095545.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[str(year)] = df[columns].mean(axis=1)
C:\Users\Calvin Chu\AppData\Local\Temp\ipykernel_18892\3647095545.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[str(year)] = df[columns].mean(axis=1)
C:\Users\Calvin Chu\AppData\Local\Temp\ipykernel_18892\3647095545.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[str(year)] = df[columns].mean(axis=1)
C:\Users\Calvin Chu\AppData\Local\Temp\ipykernel_18892\3647095545.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[str(year)] = df[columns].mean(axis=1)
C:\Users\Calvin Chu\AppData\Local\Temp\ipykernel_18892\3647095545.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[str(year)] = df[columns].mean(axis=1)
C:\Users\Calvin Chu\AppData\Local\Temp\ipykernel_18892\3647095545.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[str(year)] = df[columns].mean(axis=1)
C:\Users\Calvin Chu\AppData\Local\Temp\ipykernel_18892\3647095545.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[str(year)] = df[columns].mean(axis=1)
C:\Users\Calvin Chu\AppData\Local\Temp\ipykernel_18892\3647095545.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[str(year)] = df[columns].mean(axis=1)
C:\Users\Calvin Chu\AppData\Local\Temp\ipykernel_18892\3647095545.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[str(year)] = df[columns].mean(axis=1)
C:\Users\Calvin Chu\AppData\Local\Temp\ipykernel_18892\3647095545.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[str(year)] = df[columns].mean(axis=1)
C:\Users\Calvin Chu\AppData\Local\Temp\ipykernel_18892\3647095545.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[str(year)] = df[columns].mean(axis=1)
C:\Users\Calvin Chu\AppData\Local\Temp\ipykernel_18892\3647095545.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[str(year)] = df[columns].mean(axis=1)
C:\Users\Calvin Chu\AppData\Local\Temp\ipykernel_18892\3647095545.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[str(year)] = df[columns].mean(axis=1)

,RegionID,SizeRank,RegionName,RegionType,StateName,Year,saletolist,saleCountnowcast
0,394304,83,"Akron, OH",msa,OH,2021,0.987274,646.0
1,394304,83,"Akron, OH",msa,OH,2022,0.990559,740.0
2,394304,83,"Akron, OH",msa,OH,2023,0.979451,514.0
3,394304,83,"Akron, OH",msa,OH,2024,0.983193,516.0
4,394308,64,"Albany, NY",msa,NY,2021,0.993578,602.0
...,...,...,...,...,...,...,...,...
363,395235,89,"Winston, NC",msa,NC,2024,0.980724,538.0
364,395238,58,"Worcester, MA",msa,MA,2021,1.012206,862.0
365,395238,58,"Worcester, MA",msa,MA,2022,1.019688,825.0
366,395238,58,"Worcester, MA",msa,MA,2023,0.999125,579.0
367,395238,58,"Worcester, MA",msa,MA,2024,1.008041,564.0

In [33]:
combine_df = pd.merge(df_pm,df_sale,on =['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'Year'])
combine_df

,RegionID,SizeRank,RegionName,RegionType,StateName,Year,percentAbove,percentBelow,meanSaleprice,saletolist,saleCountnowcast
0,394304,83,"Akron, OH",msa,OH,2021,0.355106,0.479014,188975.0,0.987274,646.0
1,394304,83,"Akron, OH",msa,OH,2022,0.398346,0.421890,205354.0,0.990559,740.0
2,394304,83,"Akron, OH",msa,OH,2023,0.273303,0.562616,211129.0,0.979451,514.0
3,394304,83,"Akron, OH",msa,OH,2024,0.339054,0.490664,228102.0,0.983193,516.0
4,394308,64,"Albany, NY",msa,NY,2021,0.435985,0.422079,234955.0,0.993578,602.0
...,...,...,...,...,...,...,...,...,...,...,...
363,395235,89,"Winston, NC",msa,NC,2024,0.315059,0.541203,294105.0,0.980724,538.0
364,395238,58,"Worcester, MA",msa,MA,2021,0.558627,0.316887,343896.0,1.012206,862.0
365,395238,58,"Worcester, MA",msa,MA,2022,0.582822,0.287156,393393.0,1.019688,825.0
366,395238,58,"Worcester, MA",msa,MA,2023,0.437105,0.417992,406845.0,0.999125,579.0
367,395238,58,"Worcester, MA",msa,MA,2024,0.508852,0.348619,446344.0,1.008041,564.0

In [34]:
#forsale
df = pd.read_csv("forsaleinventorymontly.csv")
df_invent = cleanData(df)
df_invent = filterYear(df_invent)
df_invent = combineYear(df_invent)
df_invent = df_invent.rename(columns={"rename":"inventory"})
df = pd.read_csv("medianlistpricemontly.csv")
df_medianlist = cleanData(df)
df_medianlist = filterYear(df_medianlist)
df_medianlist = combineYear(df_medianlist)
df_medianlist = df_medianlist.rename(columns = {"rename":"medianlistprice"})
df = pd.read_csv("newlistingmontly.csv")
df_newlist = cleanData(df)
df_newlist = filterYear(df_newlist)
df_newlist = combineYear(df_newlist)
df_newlist = df_newlist.rename(columns={"rename":"newlist"})

df_for = pd.merge(df_invent,df_medianlist,on =['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'Year'])
df_forSale = pd.merge(df_for,df_newlist,on =['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'Year'])
df_price = pd.merge(df_forSale,combine_df,on =['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'Year'])
df_price

      RegionID  SizeRank    RegionName RegionType StateName  Year  rename
668     394297       677  Aberdeen, SD        msa        SD  2021   116.0
1595    394297       677  Aberdeen, SD        msa        SD  2022   105.0
2522    394297       677  Aberdeen, SD        msa        SD  2023   100.0
3449    394297       677  Aberdeen, SD        msa        SD  2024   108.0
465     394298       473  Aberdeen, WA        msa        WA  2021   236.0
      RegionID  SizeRank    RegionName RegionType StateName  Year    rename
668     394297       677  Aberdeen, SD        msa        SD  2021  160417.0
1594    394297       677  Aberdeen, SD        msa        SD  2022  187017.0
2520    394297       677  Aberdeen, SD        msa        SD  2023  180967.0
3446    394297       677  Aberdeen, SD        msa        SD  2024  231100.0
465     394298       473  Aberdeen, WA        msa        WA  2021  272550.0
      RegionID  SizeRank    RegionName RegionType StateName  Year  rename
668     394297       677  Aberdeen, SD        msa        SD  2021    30.0
1590    394297       677  Aberdeen, SD        msa        SD  2022    29.0
2512    394297       677  Aberdeen, SD        msa        SD  2023    24.0
3434    394297       677  Aberdeen, SD        msa        SD  2024    22.0
465     394298       473  Aberdeen, WA        msa        WA  2021    99.0

,RegionID,SizeRank,RegionName,RegionType,StateName,Year,inventory,medianlistprice,newlist,percentAbove,percentBelow,meanSaleprice,saletolist,saleCountnowcast
0,394304,83,"Akron, OH",msa,OH,2021,1940.0,154433.0,602.0,0.355106,0.479014,188975.0,0.987274,646.0
1,394304,83,"Akron, OH",msa,OH,2022,1556.0,154992.0,636.0,0.398346,0.421890,205354.0,0.990559,740.0
2,394304,83,"Akron, OH",msa,OH,2023,1598.0,172283.0,521.0,0.273303,0.562616,211129.0,0.979451,514.0
3,394304,83,"Akron, OH",msa,OH,2024,1370.0,195967.0,483.0,0.339054,0.490664,228102.0,0.983193,516.0
4,394308,64,"Albany, NY",msa,NY,2021,1535.0,227967.0,480.0,0.435985,0.422079,234955.0,0.993578,602.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,395235,89,"Winston, NC",msa,NC,2024,1508.0,298267.0,465.0,0.315059,0.541203,294105.0,0.980724,538.0
364,395238,58,"Worcester, MA",msa,MA,2021,1516.0,333250.0,646.0,0.558627,0.316887,343896.0,1.012206,862.0
365,395238,58,"Worcester, MA",msa,MA,2022,1513.0,366567.0,647.0,0.582822,0.287156,393393.0,1.019688,825.0
366,395238,58,"Worcester, MA",msa,MA,2023,1453.0,428267.0,516.0,0.437105,0.417992,406845.0,0.999125,579.0
367,395238,58,"Worcester, MA",msa,MA,2024,1256.0,421633.0,506.0,0.508852,0.348619,446344.0,1.008041,564.0

In [35]:
#construction
df = pd.read_csv("newconstructionmeansalesCondo.csv")
df_constructMeanCon = cleanData(df)
df_constructMeanCon = filterYear(df_constructMeanCon)
df_constructMeanCon = combineYear(df_constructMeanCon)
df_constructMeanCon = df_constructMeanCon.rename(columns={"rename":"newConstructionMean(Condo)"})
df= pd.read_csv('newconstructionmeansaleSFR.csv')
df_constructionMeanSFR = cleanData(df)
df_constructionMeanSFR = filterYear(df_constructionMeanSFR)
df_constructionMeanSFR = combineYear(df_constructionMeanSFR)
df_constructionMeanSFR = df_constructionMeanSFR.rename(columns = {"rename":"newConstructionMean(SFR)"})
df = pd.read_csv("newconstructionsalecountcondo.csv")
df_constructionSalecondo = cleanData(df)
df_constructionSalecondo = filterYear(df_constructionSalecondo)
df_constructionSalecondo = combineYear(df_constructionSalecondo)
df_constructionSalecondo = df_constructionSalecondo.rename(columns = {"rename":"newConstructionSaleCount(Condo)"})
df = pd.read_csv("newconstructionsalecountSFR.csv")
df_constructionSaleSFR = cleanData(df)
df_constructionSaleSFR = filterYear(df_constructionSaleSFR)
df_constructionSaleSFR = combineYear(df_constructionSaleSFR)
df_constructionSaleSFR = df_constructionSaleSFR.rename(columns = {"rename":"newConstructionSaleCount(SFR)"})
df_meanCon = pd.merge(df_constructionMeanSFR,df_constructMeanCon,on =['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'Year'])
df_saleCount2 = pd.merge(df_constructionSalecondo,df_constructionSaleSFR,on =['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'Year'])

df_construct = pd.merge(df_meanCon,df_saleCount2,on =['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'Year'])

    RegionID  SizeRank        RegionName RegionType StateName  Year  \
2     394404        10        Boston, MA        msa        MA  2021
9     394404        10        Boston, MA        msa        MA  2022
16    394404        10        Boston, MA        msa        MA  2023
23    394404        10        Boston, MA        msa        MA  2024
6     394640        53  Grand Rapids, MI        msa        MI  2021

          rename
2   7.897047e+05
9   8.525256e+05
16  8.429818e+05
23  1.071762e+06
6   0.000000e+00
     RegionID  SizeRank       RegionName RegionType StateName  Year     rename
165    394309       526    Albemarle, NC        msa        NC  2021       0.00
334    394309       526    Albemarle, NC        msa        NC  2022       0.00
503    394309       526    Albemarle, NC        msa        NC  2023       0.00
672    394309       526    Albemarle, NC        msa        NC  2024       0.00
55     394312        62  Albuquerque, NM        msa        NM  2021  353621.76
     RegionID  SizeRank     RegionName RegionType StateName  Year  rename
32     394332       148  Ann Arbor, MI        msa        MI  2021     0.0
74     394332       148  Ann Arbor, MI        msa        MI  2022     0.0
116    394332       148  Ann Arbor, MI        msa        MI  2023     0.0
158    394332       148  Ann Arbor, MI        msa        MI  2024     0.0
5      394347         9    Atlanta, GA        msa        GA  2021    41.0
      RegionID  SizeRank   RegionName RegionType StateName  Year  rename
204     394299       251  Abilene, TX        msa        TX  2021    18.0
520     394299       251  Abilene, TX        msa        TX  2022    26.0
836     394299       251  Abilene, TX        msa        TX  2023    10.0
1152    394299       251  Abilene, TX        msa        TX  2024    17.0
80      394304        83    Akron, OH        msa        OH  2021    13.0

In [36]:
df_sale_price = pd.merge(df_construct,df_price,on =['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName', 'Year'])
df_sale_price

,RegionID,SizeRank,RegionName,RegionType,StateName,Year,newConstructionMean(SFR),newConstructionMean(Condo),newConstructionSaleCount(Condo),newConstructionSaleCount(SFR),inventory,medianlistprice,newlist,percentAbove,percentBelow,meanSaleprice,saletolist,saleCountnowcast
0,394404,10,"Boston, MA",msa,MA,2021,9.862438e+05,7.897047e+05,128.0,173.0,8338.0,593333.0,3086.0,0.522192,0.384022,628218.0,1.010347,3909.0
1,394404,10,"Boston, MA",msa,MA,2022,1.069493e+06,8.525256e+05,158.0,123.0,6734.0,623966.0,2798.0,0.568742,0.327028,712859.0,1.019982,3556.0
2,394404,10,"Boston, MA",msa,MA,2023,1.352262e+06,8.429818e+05,141.0,117.0,7052.0,699333.0,2224.0,0.409007,0.477819,741640.0,0.996543,2338.0
3,394404,10,"Boston, MA",msa,MA,2024,1.660167e+06,1.071762e+06,73.0,74.0,5976.0,742933.0,2159.0,0.494256,0.403358,798786.0,1.007852,2238.0
4,394640,53,"Grand Rapids, MI",msa,MI,2021,3.150255e+05,0.000000e+00,40.0,71.0,1804.0,239933.0,808.0,0.474769,0.375699,262787.0,1.008152,1285.0
5,394640,53,"Grand Rapids, MI",msa,MI,2022,4.198589e+05,0.000000e+00,26.0,81.0,1584.0,261600.0,777.0,0.530448,0.315125,290586.0,1.021236,1184.0
6,394640,53,"Grand Rapids, MI",msa,MI,2023,4.635149e+05,0.000000e+00,10.0,58.0,1756.0,299900.0,649.0,0.317831,0.512249,309371.0,0.988737,824.0
7,394640,53,"Grand Rapids, MI",msa,MI,2024,4.362642e+05,0.000000e+00,16.0,33.0,1455.0,331633.0,551.0,0.367028,0.472842,343124.0,0.995760,743.0
8,394913,1,"New York, NY",msa,NY,2021,8.619316e+05,8.510448e+05,118.0,448.0,65541.0,596600.0,13559.0,0.382670,0.491638,599001.0,0.995806,20298.0
9,394913,1,"New York, NY",msa,NY,2022,1.147590e+06,7.848542e+05,147.0,393.0,50768.0,576667.0,11561.0,0.429042,0.434861,685151.0,1.002063,19332.0
10,394913,1,"New York, NY",msa,NY,2023,1.070657e+06,7.354787e+05,60.0,251.0,45916.0,619333.0,8431.0,0.366612,0.506942,668434.0,0.992663,11427.0
11,394913,1,"New York, NY",msa,NY,2024,1.149431e+06,7.926338e+05,52.0,194.0,36461.0,689967.0,7617.0,0.479424,0.406284,736202.0,1.010170,10019.0
12,395005,39,"Providence, RI",msa,RI,2021,4.964310e+05,0.000000e+00,19.0,74.0,3715.0,349900.0,1220.0,0.590627,0.322131,395977.0,1.011858,1510.0
13,395005,39,"Providence, RI",msa,RI,2022,5.806584e+05,0.000000e+00,23.0,69.0,2613.0,391300.0,1066.0,0.560963,0.320375,436147.0,1.012906,1363.0
14,395005,39,"Providence, RI",msa,RI,2023,5.853182e+05,0.000000e+00,13.0,52.0,2407.0,431600.0,783.0,0.413082,0.453392,463631.0,0.993312,820.0
15,395005,39,"Providence, RI",msa,RI,2024,6.969471e+05,0.000000e+00,16.0,29.0,2160.0,461633.0,756.0,0.478785,0.381931,502036.0,1.003093,779.0
16,395057,12,"San Francisco, CA",msa,CA,2021,1.300835e+06,0.000000e+00,36.0,65.0,6721.0,973333.0,2705.0,0.634243,0.282351,1186688.0,1.041486,3396.0
17,395057,12,"San Francisco, CA",msa,CA,2022,1.260104e+06,0.000000e+00,25.0,87.0,4972.0,925333.0,2328.0,0.735030,0.187739,1337062.0,1.082054,2682.0
18,395057,12,"San Francisco, CA",msa,CA,2023,1.622418e+06,0.000000e+00,18.0,36.0,5550.0,964333.0,1426.0,0.350753,0.538312,1260263.0,1.000752,1542.0
19,395057,12,"San Francisco, CA",msa,CA,2024,1.240197e+06,1.368220e+06,22.0,26.0,4815.0,951667.0,1455.0,0.505457,0.403819,1327157.0,1.024442,1632.0
20,395078,15,"Seattle, WA",msa,WA,2021,8.610269e+05,0.000000e+00,27.0,534.0,6372.0,562967.0,3039.0,0.566090,0.265203,661418.0,1.023358,3835.0
21,395078,15,"Seattle, WA",msa,WA,2022,9.385116e+05,0.000000e+00,49.0,585.0,4513.0,604667.0,2682.0,0.623595,0.206418,770253.0,1.045796,3126.0
22,395078,15,"Seattle, WA",msa,WA,2023,1.004596e+06,0.000000e+00,15.0,389.0,6781.0,663283.0,1684.0,0.209115,0.572884,766876.0,0.980149,1972.0
23,395078,15,"Seattle, WA",msa,WA,2024,1.049651e+06,7.976420e+05,21.0,285.0,5063.0,681667.0,1585.0,0.305928,0.466427,818965.0,0.993330,2115.0
24,395209,6,"Washington, DC",msa,VA,2021,6.923871e+05,0.000000e+00,0.0,431.0,12800.0,438600.0,5571.0,0.458037,0.306794,524808.0,1.004252,6993.0
25,395209,6,"Washington, DC",msa,VA,2022,8.446404e+05,0.000000e+00,0.0,669.0,11544.0,449600.0,4783.0,0.435337,0.321747,562581.0,1.003833,6435.0
26,395209,6,"Washington, DC",msa,VA,2023,7.565570e+05,0.000000e+00,25.0,408.0,11090.0,503100.0,3292.0,0.271934,0.462567,578650.0,0.988868,3772.0
27,395209,6,"Washington, DC",msa,VA,2024,8.806862e+05,7.084910e+05,20.0,366.0,8551.0,536300.0,2999.0,0.350047,0.387871,619619.0,0.995716,3657.0

In [38]:
df_sale_price.to_csv("housingSaleprice.csv")